.mid {
  margin: 0 auto;
}
.t-c {
  text-align: center;
}
.t-r {
  text-align: right;
}
.t-l {
  text-align: left;
}
.bk-no {
  border: none;
}
.bk-yes {
  border: solid 0.01vh rgba(255, 255, 255, 0.2);
}
.bj-no {
  padding: 0;
  margin: 0;
}
ul.proList {
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.6);
  height: 81vh;
  overflow-y: scroll;
}
ul.proList li {
  box-sizing: border-box;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  height: 3vh;
  line-height: 3vh;
}
ul.proList li.flex .span {
  box-sizing: border-box;
  padding: 0 10px;
  overflow: hidden;
  border-left: solid 1px rgba(255, 255, 255, 0.2);
}
.col-10vw {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.8);
  padding-left: 10px;
}
.col-1vw {
  color: rgba(255, 255, 255, 0.8);
}
li.color-0:hover {
  cursor: pointer;
  background-color: rgba(0, 255, 0, 0.8);
}
li.color-0:hover .col .t-r {
  color: rgba(255, 255, 255, 0.8);
}
li.color-0 .col .t-r {
  color: rgba(0, 255, 0, 0.6);
}
li.color-1:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.8);
}
li.color-1:hover .col .t-r {
  color: rgba(255, 255, 255, 0.8);
}
li.color-1 .col .t-r {
  color: rgba(255, 0, 0, 0.6);
}
.app-nav {
  background-color: rgba(255, 255, 255, 0.4);
  display: block;
  width: 100%;
  height: 3vh;
  line-height: 3vh;
  padding: 0 10px;
}
.app-nav a {
  padding: 0 10px;
  margin: 0 2px;
  background-color: rgba(0, 0, 0, 0.4);
}
.icon-0:before {
  content: "\e616";
  color: rgba(0, 255, 0, 0.6);
}
.icon-0:before:hover {
  color: rgba(255, 255, 255, 0.6);
}
.icon-1:before {
  content: "\e618";
  color: rgba(255, 0, 0, 0.6);
}
.icon-1:before:hover {
  color: rgba(255, 255, 255, 0.6);
}
