h1 {
  background-color: #232b4e;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
}
.title-1 {
  width: 100vw;
  background-color: #232b4e;
  font-weight: bold;
  text-align: center;
  height: 5vh;
  position: absolute;
  line-height: 5vh;
  top: 0;
  color: white;
  font-size: 3vh;
  max-font-size: 4vh;
}
.title-1 small {
  font-size: 1vh;
  background-color: #007aff;
  display: inline-block;
  height: 2vh;
  line-height: 2vh;
  padding: 0 .2vw;
  margin: 0 .5vw;
  color: white;
}
.title-2 {
  box-sizing: border-box;
  width: 100vw;
  background-color: #282828;
  font-weight: bold;
  text-align: center;
  height: 5vh;
  position: fixed;
  line-height: 2vh;
  bottom: 0;
  color: white;
  font-size: .5vh;
  max-font-size: 4vh;
  padding: .5vh;
}
