@import "全局动态函数值"; // 提取默认配置
header {
  height: 5vh;
  display: block;
  position: relative;
}

footer {
  height: 5vh;
  bottom: 0;
}

#top {
  display: inline-flex;
  width: 100%;
  align-items: center;
  color: @bai-6;
  padding: 0 @f-12;
  .top-icon {
    width: auto;
    position: fixed;
    right: 0;
    top: 0;
    .bg-red:hover {
      .dh(1s, .2s);
    }
    i {
      display: block;
      float: left;
      cursor: pointer;
      width: 4vh;
      .h-mid();
      font-size: @f-14;
      &:hover {
        .dh();
      }

    }
  }
  .top-con {
    .h-mid(5vh);
    font-size: @f-12;
  }
}

#foot {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100vw;
  ul {
    width: 76vw;
    margin: 0 auto;
    overflow: hidden;
    max-height: 20vh;
    li {
      display: inline-block;
      a {
        display: block;
        color: @bai-8;
        padding: 0 @f-10;
        .filter();
        &.on {
          .filter(100);
        }
        &:hover {
          .dh(.5s);
          .filter(100);
        }
      }
    }
  }
}