.mid {
  margin: 0 auto;
}
.t-c {
  text-align: center;
}
.t-r {
  text-align: right;
}
.t-l {
  text-align: left;
}
.bk-no {
  border: none;
}
.bk-yes {
  border: solid 0.01vh rgba(255, 255, 255, 0.2);
}
.bj-no {
  padding: 0;
  margin: 0;
}
header {
  height: 5vh;
  display: block;
  position: relative;
}
footer {
  height: 5vh;
  bottom: 0;
}
#top {
  display: inline-flex;
  width: 100%;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  padding: 0 12px;
}
#top .top-icon {
  width: auto;
  position: fixed;
  right: 0;
  top: 0;
}
#top .top-icon .bg-red:hover {
  -webkit-transition: all 1s ease-out 0.2s;
  transition: all 1s ease-out 0.2s;
}
#top .top-icon i {
  display: block;
  float: left;
  cursor: pointer;
  width: 4vh;
  height: 3vh;
  line-height: 3vh;
  font-size: 14px;
}
#top .top-icon i:hover {
  -webkit-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}
#top .top-con {
  height: 5vh;
  line-height: 5vh;
  font-size: 12px;
}
#foot {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100vw;
}
#foot ul {
  width: 76vw;
  margin: 0 auto;
  overflow: hidden;
  max-height: 20vh;
}
#foot ul li {
  display: inline-block;
}
#foot ul li a {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 10px;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
#foot ul li a.on {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
#foot ul li a:hover {
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
